body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.kwadrat {
    width: 50vmin; 
    height: 50vmin; 
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tekst {
    text-align: center;
    color: #fff;
    font-size: 24px;
}
